@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  top: 0;
  background-color: #1e6ffb;
  position: fixed;
  box-shadow: 1px 0.5px 4px #292929;
}

nav img {
  width: 64px;
  height: 64px;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}


li {
  display: inline-block;
  list-style: none;
}

p {
  text-align: center;
  color: #f3f3f3;
  text-align: center;
  margin: 0;
}

.sectionSpacing {
  padding-top: 5%;
}

#contactButton p {
  color: #f3f3f3;
  background-color: #1e6ffb;
  border-radius: 35px;
  border: solid 3px #f3f3f3;
}

#contactButton p:hover {
  background-color: #f3f3f3;
  color: #1e6ffb;
}

#intro {
  height: 100vh;
}

.spacer {
  margin-top: 5vh;
}

.welcomeText p {
  font-size: 60px;
  text-align: left;
  color: #292929;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 5px 15px #bdbdbd;

}

.blueText {
  color: #1e6ffb;
  text-shadow: 0px 5px 15px #bdbdbd;
}

.button {
  color: #1e6ffb;
  background-color: #ffffff;
  border-radius: 35px;
  border: solid 3px #1e6ffb;
  width: 200px;
}

.button:hover {
  background-color: #1e6ffb;
  color: #ffffff;
}

#skillsButton {
  background-color: #1e6ffb;
  color: #ffffff;
}

#skillsButton:hover {
  color: #1e6ffb;
  background-color: #ffffff;
}

.graphic h1 {
  color: #1e6ffb;
  font-size: 250px;
  text-shadow: 0px 5px 15px #bdbdbd;

}

#aboutMe h1,
#projects h1, #contact h1 {
  font-size: 52px;
  text-shadow: 0px 5px 15px #bdbdbd;

}

#aboutMeGraphic {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 30%;
}

.bar {
  height: 5px;
  width: 10vw;
  background-color: #1e6ffb;
}

.aboutMe__descriptionText {
  color: #424242a6;
  text-align: left;
  font-size: 25px;
}

#txstLogo {
  max-width: 90%;
  height: auto;
  width: auto;
}

#degreeText {
  color: #3d3d3d;
  text-align: start;
}

.lightText {
  text-align: start;
  color: #424242a6;
}

.tags {
  color: #424242a6;
  width: 135px;
  font-size: 13px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px #bdbdbd;

}

.experience,
.education {
  display: none;
}

.skills {
  margin-right: 0;
  margin-left: 0;

}

.skills--backgroundColor {
  border-radius: 10px;
  box-shadow: 0px 5px 15px #bdbdbd;
}

.skillsIcon {
  width: 50px;
  height: 50px;
}

.skillsText {
  display: none;
}

.skillsText p {
  width: 50px;
  height: 50px;
}

.headingsDarkerlight {
  color: #424242a6;
}

.horizontalBar {
  width: 0.2vw;
  background-color: #1e6ffb;
  height: 20vh;
}


.project__preview {
  width: 512px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px #bdbdbd;
}

.project__title {
  text-shadow: 0px 5px 15px #bdbdbd;
}

.project__description {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 15px #bdbdbd;
}

#emailIcon {
  max-width: 450px;
  height: auto;
  width: auto;
}

.project {
  margin-bottom: 8%;
}